<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:component-scan base-package="com.varghese.oilandgas" />
    <context:annotation-config />

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/oilandgas"/>
        <property name="username" value="root"/>
        <property name="password" value="ralphwaldo!"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.varghese.oilandgas.model.Reserve</value>
                <value>com.varghese.oilandgas.model.Extraction</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean id="reserveRepositoryHibernateImpl" class="com.varghese.oilandgas.repositories.ReserveRepositoryHibernateImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="ReserveRepositoryFacade" class="com.varghese.oilandgas.repositories.ReserveRepositoryFacade">
        <property name="repository" ref="reserveRepositoryHibernateImpl"/>
    </bean>

</beans>